<div class="dialog">
  <h2 mat-dialog-title>Create Promotion</h2>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Promotion Name" [(ngModel)]="promotionName" required/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" [(ngModel)]="startDate"
             [max]="endDate" (dateChange)="onDateChange()" [readonly]="true" required/>
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endDatePicker" placeholder="End Date" [(ngModel)]="endDate"
             [min]="startDate" (dateChange)="onDateChange()" [readonly]="true" required/>
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Events</mat-label>
      <mat-select [(ngModel)]="selectedEvent" required>
        <mat-option *ngFor="let event of events$ | async" [value]="event">{{ event }}</mat-option>
      </mat-select>
    </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button (click)="onSaveClick()" [disabled]="!isValid()">Save</button>
  </div>
</div>
